body-background{
    color: #091057,
}

borders-color{
    color: #EC8305;
}

button-color{
    color: #F3C623;
}

text-color{
    color: #F4F6FF;
}

footer-text{
    color: #10375C;
}

alternate-text-color{
    color: #181C14;
}

labe-text-color{
    color: #F3C623;
}